<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sensor Dashboard{% endblock %}</title>
</head>
<body>
     {% include 'partials/header.twig.html' %}

    {% block body %}
    {% endblock %}

    {% include 'partials/footer.twig.html' %}


{% block stylesheets %}
    {{ importmap('app') }}
{% endblock %}
</body>
</html>