<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sensor Dashboard{% endblock %}</title>
</head>
<body>
    <h1>Sensor Dashboard</h1>
     {% include 'partials/header.twig.html' %}

    {% block body %}
    {% endblock %}

        {% include 'partials/footer.twig.html' %}

</body>
</html>